name: 'Continuous Integration'

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: make install

      - name: Run model tests
        run: |
          mkdir reports || true
          cd tests && python -m pytest --cov-config=../.coveragerc --cov-report term --cov-report html:../reports/html --cov-report xml:../reports/coverage.xml --junitxml=../reports/junit.xml --cov=challenge model

      - name: Run API tests
        run: make api-test
